@mixin scale {
    transform: scale(1.2);
    transition: 0.21s ease-in-out;
    cursor: pointer;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-clm-wrap {
    display: flex;
    flex-flow: column wrap;
}