@import "./variables";
@import "./buttons";
@import "./images";
@import "./inputfields";
@import "./mixins";
@import "./headers";

body {
    display: flex;
    flex-flow: row nowrap;
    font-family: monospace;
}

#flex-container {
    @include flex-center;
    @include flex-clm-wrap;
    width: 57vw;
    padding: 3rem;
}


a {
    text-decoration: none;
    color: $secondary-color;
}

a:hover {
    color: rgb(54, 68, 68);
}

label {
    display: inline;
}

#footer {
    margin-left: 10px;
    margin-top: 10px;

}

form {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1rem;
    width: 100%;

}


