label[for="submit-btn"] {
  visibility: hidden;
}

#submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 15px;
  border: 2px solid #1e3470;
  border-radius: 55px;
  background-color: #e66f4b;
  color: white;
  font-size: 16px;
}

#submit-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.21s ease-in-out;
  transition: 0.21s ease-in-out;
}

.image {
  width: 37vw;
  height: 100vh;
  background-image: url(./NGC3576_Willocks_960.jpg);
  background-repeat: repeat;
  background-position: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(68, 53, 32, 0.336);
  margin-top: 200px;
}

.svg-logo {
  width: 40%;
  -webkit-filter: drop-shadow(8px 8px 2px black);
          filter: drop-shadow(8px 8px 2px black);
}

@media screen and (max-width: 1000px) {
  .image {
    visibility: collapse;
    width: 0px;
    padding: 0;
    margin: 0;
  }
  body {
    background-image: url(./NGC3576_Willocks_960.jpg);
    width: 100%;
  }
  #flex-container {
    background-color: rgba(7, 107, 138, 0.24);
    color: white;
    margin-left: auto;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
}

#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 57vw;
  padding: 3rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5px;
}

form input, label {
  padding: 5px;
  width: 15rem;
}

input, label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 5px;
  width: 100%;
}

input, label:nth-child(odd) {
  margin-right: 2.4rem;
}

input:invalid {
  outline: #e66f4b;
  border: 2px #e66f4b solid;
}

input:valid {
  outline: none;
  border: 2px solid green;
}

h2 {
  font-weight: normal;
  margin-bottom: 0;
}

h1 {
  color: white;
  font-size: 48px;
  font-weight: normal;
  -webkit-filter: drop-shadow(8px 8px 2px black);
          filter: drop-shadow(8px 8px 2px black);
}

#footer p {
  text-align: left;
}

a {
  text-decoration: none;
  color: #e66f4b;
}

a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.21s ease-in-out;
  transition: 0.21s ease-in-out;
}
/*# sourceMappingURL=stylesheet.css.map */